.item-title {
  font-size: 18px;
}

.materialList {
  font-size: 16px;
}

.material {
  width: 160px;
}

.amount {
  width: 60px;
}

.price {
  width: 60px;
}

.useAmount {
  width: 60px;
} 

.selBox {
  position: absolute;
  font-size: 14px;
  width: 15px;
  left: 150px;
 }

 #coladd {
   float: right;
   right: 500px;
 }

 #print {
   float: right;
   right: -5px;
 }

 /* #title {
   font-size:200%;
 } */

 /* text-input {
  height: 48px;
  font-size: 48px;
} */

ons-input input {
  font-size: 200%;
}